.post-container{
    width: 600px;
    height: 800px;
    border: 1px solid black;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 1rem;
    overflow: scroll;
}